name: Ubuntu unit tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install packages for Ubuntu 24.04
        run: sudo apt-get update && sudo apt install -y build-essential qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools ccache libncursesw5-dev libreadline-dev

      - name: Build lib and run unit tests using Unity test framework
        run: cd test && qmake hstr-unit-tests.pro && make clean all && ./hstr-unit-tests
